
<app-navbar></app-navbar>
<nav class="nav nav-pills nav-justified">
  <a routerLink="/frontpage" routerLinkActive="active" class="nav-item nav-link" href="#">Frontpage</a>
  <a routerLink="/newest" routerLinkActive="active" class="nav-item nav-link" href="#">Newest</a>
  <a routerLink="/comments" routerLinkActive="active" class="nav-item nav-link" href="#">Comments</a>
  <a routerLink="/showhn" routerLinkActive="active" class="nav-item nav-link" href="#">show HN</a>
</nav>
<router-outlet></router-outlet>

